@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.overlay {
    display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;

  opacity: 0;
  pointer-events: none;
  transform: scale(1.05);
  transition: opacity 0.3s ease, transform 0.3s ease;
  }

  

  
  
  .overlay.active {
    display: flex;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  }

  .overlay.closing {
  opacity: 0;
  transform: scale(1.05);
}
  
  .dropdown-content {
    background: rgba(11, 11, 11, 0);
    padding: 20px;
    border-radius: 12px;
    max-width: 500px;
    width: 400px;
    max-height: 80vh; /* biar scroll muncul */
    overflow-y: auto;
    position: relative;
  }

  .dropdown-content h2{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #ffffff;
  }

  .dropdown-content h2 span {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
     background: linear-gradient(to right, #06b6d4, #3b82f6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  
  .close-btn {
    position: sticky;
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
    cursor: pointer;
    padding: 1px;
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  .dropdown-item:hover {
    background: #b1b1b134;
  }
  
  .dropdown-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px;
  }
  
  .dropdown-item span {
    font-size: 16px;
    color: #ffffff;
  }

  .close-btn {
    margin-left: 300px;
    position: sticky;
    top: 0;
    z-index: 10;
    align-self: flex-start;
    background-color: #1a1a1a;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 24px;
    padding: 10px 17px;
    cursor: pointer;
  }
  
  

    /* Custom Scrollbar WebKit */
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #1a1a1a;
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background: linear-gradient(to right, #06b6d4, #3b82f6);
      border-radius: 10px;
      border: 2px solid #1a1a1a;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(to right, #06b6d4, #3b82f6);
    }

  